@import url('https://fonts.googleapis.com/css?family=Roboto 100, 200, 300 ,400, 500, 600, 700|Exo: 100, 200, 300, 400, 500, 600, 700');

/*------------------------ bg-color */

.bg-color-logo {
    background-color: #0a630a;
}

.bg-color-header-log {
    background-color: #0a630a;
}

.bg-color-section-heading {
    background-color: #bad4ff;
}



/*------------------------ heading */

.logo {
    background: url("../images/logo.jpg");
    padding: 0;
    border: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 210px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    border-radius: 50%;
}

.input-group {
    text-align: justify;
    text-align: center;
    margin: 3px;
    padding: 5px;
}

.section-column {
    text-align: center;
    margin-top: 0;
}

.section-column-2 {
    text-align: center;
    margin-top: 15px;
}

.create-account {
    padding-top: 13px;
    margin: 5px;
}

h1, h2, h3 {
    padding-top: 20px;
    padding-bottom: 5px;
}

/*------------------------ Navbar */

.navbar-inverse {
    margin-top: 10px;
    margin-bottom: 10px;
}



/*------------------------ section */

.jumbo {
    border:20px;
    padding-top: 50px;
    text-align: center;
}

.jumbo-img {
    
    background: url("../images/hamper.jpg");
    min-width: 500px;
    min-height: 450px;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
}

.form1 {
    margin-top: 18px;
    margin-bottom: 25px;
    padding-top: inherit;
    
    
}



/*------------------------ buttons*/

.btn-success {
    position: relative;
    margin-top: 5px;
    padding: 5px;
}

.btn-info {
    position: relative;
    margin: 4px;
    padding: 5px;
}



/*------------------------ footer */

footer {
    border-radius: 0 0 20px 20px;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 2px solid #e18515;
}

.general-sub i{
    margin-top: 5px;
    color: #e18515;
}

.contact-sub,
.order-sub {
    color: #e18515;
}

.social-links li i,
.order-sub i {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #e18515;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li i:hover,
.order-sub i:hover {
    background-color: #7a540d;
}

footer {
    background-color: #0a630a;
}

/*------------------------ font*/

.uppercase {
    text-transform: uppercase;
}

.user {
    font-family: "Exo", sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: #e18515;
}

.create-account {
    font-family: "Exo", sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: #e18515;
}

.navbar-inverse {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    text-decoration: none;
    
}

.title, .plan {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font: bold;
    text-align: center;
    font-style: oblique;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 600;
    font-size: medium;
    font-variant: small-caps;
    color: #e18515;
}

/*------------------------ */

/*------------------------ */
