@import url('https://fonts.googleapis.com/css?family=Roboto 100, 200, 300 ,400, 500, 600, 700|Exo: 100, 200, 300, 400, 500, 600, 700');


/*------------------------ bg-color */

.bg-color-logo {
    background-color: #0a630a;
}

.bg-color-header-log {
    background-color: #0a630a;
}

.bg-color-section-heading {
    background-color: #bad4ff;
}

footer {
    background-color: #0a630a;
}



/*------------------------ heading */

.logo {
    background: url("../images/logo.jpg");
    padding: 0;
    border: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 210px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    border-radius: 50%;
}

.input-group {
    text-align: justify;
    text-align: center;
    margin: 3px;
    padding: 5px;
}

.section-column {
    text-align: center;
    margin-top: 0;
}

.section-column-2 {
    text-align: center;
    margin-top: 15px;
}

.create-account {
    padding-top: 13px;
    margin: 5px;
}

h1,
h2,
h3 {
    padding-top: 20px;
    padding-bottom: 5px;
}

/*------------------------ Navbar */

.navbar-inverse {
    margin-top: 10px;
    margin-bottom: 10px;
}


.navbar-right {
    line-height: inherit;
    margin-top: 12px;
}



/*------------------------ alerts */

.alert-danger {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 5px;
    text-align: center;
}


/*------------------------ section */

.form1 {
    margin-top: 19px;
    margin-bottom: 25px;
    padding-top: inherit;
}

.order-section {
    display: inline-grid;
    margin-top: 25px;
}

table {
    margin-top: 25px;
    margin-bottom: 25px;
}

table,
th,
td {
    border: 1px solid black;
    background-color: #fff
}

.catagory {
    width: 600px;
    height: 35px;
}

.supermarket {
    float: right;
}

.supermarket span {
    color: red;
}

.radio-selection {
    float: right;
    margin-right: 10px;
}

.new-lines {
    margin: 20px;
    padding: 20px;
}

.contact-page {
    margin: 10px;
    padding: 10px;
}

.contact-icon {
    font-size: 100px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: #e18515;
}

.contact-list {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.about-leaf {
    margin: 0;
    padding: 0;
}

.comment-icon {
    font-size: 50px;
    text-align: center;
    margin: 15px;
    padding: 10px;
    float: none;
}

.glyphicon-apple {
    color: #aa0d0d;
}

.glyphicon-leaf {
    color: #12cc1e;
}

.about-us {
    word-wrap: normal;
    padding: 10px;
    margin: 10px;
}

.about-us p {
    margin: 0;
    padding: 0;
}

.about-comment {
    width: 60%;
    height: 40%;
    margin: 20px 20px 20px 35px;
    padding: 10px;
}

.about-video {
    background-color: transparent;
    padding: 0;
    margin-left: 35px;
}

.user-comments-icon {
    text-align: center;
    margin: 10px;
    padding: 5px;
    width: 20%;
    height: 100%;
    color: #3333cc;
    background-color: #759cc7;
    border-radius: 20px;
}


.user-comments {
    font-size: inherit;
    margin: 10px;
    padding: 5px;
    width: 70%;
    height: 100%;
    background-color: #759cc7;
    border-radius: 15px;
}

.comment-insets {
    text-align: right;
    font-size: 20px;
}

.user-comments dl {
    margin-bottom: 0;
}



/*------------------------ buttons*/

.btn-success {
    position: relative;
    margin-top: 5px;
    padding: 5px;
}

.btn-info {
    position: relative;
    margin: 4px;
    padding: 5px;
}

.btn-danger {
    text-align: center;
    margin-top: 15px;
    margin-left: 40%;
}

.button-fruit,
.button-veg,
.button-potatoes,
.button-specials {
    border-radius: 20px;
    background-color: #e18515;
    color: #000;
}

.button-fruit:hover,
.button-veg:hover,
.button-potatoes:hover,
.button-specials:hover {
    border-radius: 20px;
    background-color: #7a540d;
    color: #fff;
}

.button-specials {
    margin-bottom: 20px;
}

/*------------------------ footer */

footer {
    border-radius: 0 0 20px 20px;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 2px solid #e18515;
}

.general-sub i {
    margin-top: 5px;
    color: #e18515;
}

.contact-sub,
.order-sub {
    color: #e18515;
}

.social-links li i,
.order-sub i {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #e18515;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li i:hover,
.order-sub i:hover {
    background-color: #7a540d;
}



/*------------------------ font*/

.uppercase {
    text-transform: uppercase;
}

.user {
    font-family: "Exo", sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: #e18515;
}

.create-account {
    font-family: "Exo", sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: #e18515;
}

.navbar-inverse {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    text-decoration: none;

}

.title,
.plan {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    text-align: center;
    font-style: oblique;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 600;
    font-size: medium;
    font-variant: small-caps;
    color: #e18515;
}

table {
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-style: oblique;
    font-variant: small-caps;
    text-indent: 10px;
}

.carousel-caption {
    font-family: "Roboto", sans-serif;
    font-variant: small-caps;
}

/*------------------------ carousel */

.carousel-offers {
    margin-bottom: 25px;
}


/*------------------------ google map */

.eircode {
    margin-bottom: 20px;
}

.google-map {
    width: 350px;
    height: 275px;
    padding: 20px;
    margin: 20px;
}

.google-map2 {
    width: 300px;
    height: 200px;
    margin-left: 120px;
}

@media (min-width:767px) {
    google-map {
        width: 50%;
        height: 50%;
    }
}
